@font-face {
  font-family: "Merienda";
  src:  url("../../fonts/merienda/merienda-regular-webfont.woff2") format("woff2"),
        url("../../fonts/merienda/merienda-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merienda";
  src:  url("../../fonts/merienda/merienda-bold-webfont.woff2") format("woff2"),
        url("../../fonts/merienda/merienda-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src:  url("../../fonts/philosopher/philosopher-regular-webfont.woff2") format("woff2"),
        url("../../fonts/philosopher/philosopher-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src:  url("../../fonts/philosopher/philosopher-italic-webfont.woff2") format("woff2"),
        url("../../fonts/philosopher/philosopher-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Philosopher";
  src:  url("../../fonts/philosopher/philosopher-bold-webfont.woff2") format("woff2"),
        url("../../fonts/philosopher/philosopher-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src:  url("../../fonts/philosopher/philosopher-bolditalic-webfont.woff2") format("woff2"),
        url("../../fonts/philosopher/philosopher-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

:root {
  --primary-color: #172A3A;
  --secondary-color: #7F8D68;
  --accent1-color: #F06449;
  --accent2-color: #4ECDC4;
  background-color: #FBF5F3;

  --heading-font: "Merienda", Arial, sans-serif;
  --paragraph-font: "Philosopher", Arial, sans-serif;

  --headline-color-on-white: #172A3A;  /* headlines on a white background */ 
  --headline-color-on-color: #FBF5F3; /* headlines on a colored background */ 
  --paragraph-color-on-white: #172A3A; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FBF5F3; /* paragraph text on a colored background */
  --paragraph-background-color: #7F8D68;
  --nav-link-color: #FBF5F3;
  --nav-background-color: #172A3A;
  --nav-hover-link-color: #172A3A;
  --nav-hover-background-color: #4ECDC4;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
